/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: white;
  --text-color: hsl(38, 8%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 4rem;
  --big-font-size: 2rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --medium-font-size: 1.5rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: auto;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;  
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
  /* height: 100vh */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: white;
  display: inline-flex;
}
.nav__logo {
  font-weight: 700;
  color: var(--first-color);
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: black;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav__link {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  font-weight: 400;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  padding: 7rem 0 1rem;
  /* height: 100vh; */
  display: grid;
}
.home__container {
  display: grid;
  align-content: center;
  row-gap: 1rem;
}
.home__data {
  text-align: center;
}
.home__subtitle {
  font-family: "Press Start 2P";
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--medium-font-size);
  letter-spacing: 3px;
  background-size: 200%;
  line-height: 150%;
  background-clip: border-box;
  background-image: linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: 0 0 .75rem 0;
}
.home__button {
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}
.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}
.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}
.home__img {
  margin-top: -1rem;
  justify-self: center;
}
.home__shadow {
  width: 138px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}
.home__box {
  margin-top: 1rem;
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.home__footer{
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}
.home__residue {
  display: inline-block;
}
#output {
  margin-left: 5px;
}
/* Animate iphone */
@keyframes floaty{
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes shadow{
  0%{
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/* ===================================== */
.progres__container {
  display: flex;
  justify-content: center;
 
}
.progres__wrapper {
  display: flex;
  padding: 0;
  row-gap: 15px;
  column-gap: 15px;
  align-items: center;
}
.progres__circular {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: conic-gradient(#ff00c4 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.progres__circular::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
}
.progres__value {
  position: relative;
  font-size: 23px;
}
.home__box {
  flex-direction: column;
  row-gap: 10px;
}
.quiz__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 56px;
  letter-spacing: 0.04em;
  color: black;
  max-width: 700px;
}
/* ============== POPUPS ==================== */
.popup._active {
  display: block;
} 
.popup__body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease 0s;
}
.popup__body._active {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease 0s;
}
.popup__content {
  position: relative;
  padding: 64px;
  width: 996px;
  height: 584px;
  background-color: white;
  border-radius: 24px;
  display: none;
}
.popup__content._active {
  display: flex;
}
.popup__wrapper {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.popup__close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.send {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.send__desc {
  max-width: 354px;
  font-weight: 500;
  line-height: 24px;
  color: #131313;
}
.send__btn {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 12px 24px;
  background-color: black;
  border-radius: 24px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  border: none;
}
.quiz__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.quiz__item {
  font-size: 20px;
}
.quiz__gift {
  align-self: center;
  width: 250px;
}
/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 320px){
  .home{
    padding-top: 7rem;
  }
}
@media screen and (max-width:760px) {
  .popup__title {
    font-size: 25px;
    margin-bottom: 24px;
    max-width: none;
    line-height: 30px;
  }
  .popup__content {
    width: 500px;
    height: 486px;
    padding: 24px;
  }
}
@media screen and (min-width: 767px){
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
}
@media screen and (min-width: 800px){
  .home__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__box {
    flex-direction:row;
    column-gap: 10px;
    margin-top: 2rem;
  }
  .home__data{
    text-align: initial;
  }
  .home__img img{
    width: 400px;
  }
  .home__shadow{
    width: 250px;
    height: 40px;
  }
  .progres__wrapper {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 0 0 6rem;
  }
  .home {
    background-color: var(--first-color);
    padding: 12rem 0 4rem;
  }
}
@media screen and (min-width: 1048px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width:2048px){
  body{
    zoom: 1.7;
  }
  .home{
    height: initial;
    row-gap: 4rem;
  }
}
@media screen and (min-width: 3840px){
  body{
    zoom: 3.1;
  }
}
@media screen and (max-width: 800px){
  .home__title {
    font-size: var(--big-font-size);
  }
  .quiz__title {
    font-size: 24px;
    margin-top: 10px;
  }
}
@media screen and (max-width:1024px){
  .popup__content {
    padding: 40px;
    width: 711px;
    height: 522px;
  }
}
@media screen and (max-width: 376px) {
  #home__button-second {
    display: none;
  }
  .progres__wrapper  {
    top: 310px;
    position: absolute;
    left: 20px;
  }
}
@media screen and (max-width: 376px) {
  #home__button-second {
    display: none;
  }
  .progres__wrapper  {
    top: 310px;
    position: absolute;
    left: 20px;
  }
}